[Unit]
Description=sys-devices

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/lib/sys-devices/sys-devices.sh

[Install]
WantedBy=multi-user.target
