[Unit]
Description=Tinyproxy Web Proxy Server (for Tor)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tinyproxy -c /etc/tinyproxy/tinyproxy-tor.conf
PIDFile=/run/tinyproxy/tinyproxy-tor.pid
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
