[Unit]
Description=wondershaper
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/run/internet-environment
ExecStart=/usr/bin/wondershaper -a ${WIFI_DEVICE} -d 512 -u 512
RemainAfterExit=yes
ExecStop=/usr/bin/wondershaper -a ${WIFI_DEVICE} -c

[Install]
WantedBy=multi-user.target
